In [2]:
# import modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# load data into a dataframe
path = '../data/GP_Alumni_List.csv'
df = pd.read_csv(path).copy()

df

,Affiliation,PrefClassYear,Degrees,StateOrProvince,Country
0,Alumni,1983.0,"BSc Geop Eng '83, Geop Engineer '99",CO,NaN
1,Alumni,1995.0,BSc Geop Eng '95,CO,NaN
2,Alumni,2013.0,MSc Geop '13,NaN,Bahrain
3,Alumni,1999.0,MSc Geop '99,NaN,United Kingdom
4,Alumni,1982.0,BSc Geop Eng '82,OK,NaN
...,...,...,...,...,...
1919,Alumni,2012.0,BSc Geop Eng '12,CO,NaN
1920,Alumni,1982.0,BSc Geop Eng '82,TX,NaN
1921,Alumni,1981.0,BSc Geop Eng '81,UT,NaN
1922,Alumni,2019.0,BSc Geop Eng '19,CO,NaN
1923,Alumni,2012.0,MSc Geop '12,CO,NaN